.scContainer{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px;
    max-width: 350px;
    gap: 10px;
    padding :30px;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0.1px;
    border-style: solid;
    border-color: rgb(200, 200, 184);
    background-color: white;
}

.scimage{
    margin-top: 20px;
    margin-left: 5px;
    width: 15px;
}
.sctitle{
    color: rgb(49, 47, 47);
    padding-bottom: 10px;
}

.scdetails{
    font-size: small;
    color: rgb(90, 86, 86);
}

.scRead:hover{
    color: rgb(191, 46, 66);
    cursor: pointer;
}

