.container{
display: flex;
flex-direction: column;
border-radius: 10px;
background-color: white;
padding: 18px;
/* padding-bottom: 300px; */
/* margin-bottom:40%; */
max-width: 250px;
gap: 10px;
/* max-width: 345px; */
}

.image{
    height: 300px;
}
.image:hover{
    transform: scale(1.1);
}


.title{
    font-size: 22px;
}

.description{
    font-size: 10px;
}

.button{
    width:100px;
    height:30px;
    border-radius: 5px;
    background-color: #0082cb;
}

/* https://www.educative.io/answers/how-to-implement-a-read-more-link-in-react */