.hero{
    background-image: URL('../../../../asserts/hero/background_image.png');
    /* margin-top: 60px; */
    /* margin-top:1px; */
    /* height: 100vh; */
    width: 100vw;
    /* margin-bottom: 50px; */
    padding-bottom: 120px;
    /* padding-top: 5%; */
    /* padding-left: 15%;
    padding-right: 15%; */
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
}
.content{
    padding-top: 45px;
    margin-left: 350px;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.content h6{
    font-size: 10px;
    font-weight: 100;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.data{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    padding-top: 50px;
}