.header{
    display: inline;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    /* margin-top: 5vh; */
    /* margin-left: 20%;
    margin-right: 20%;
    padding-left: 10%;
    padding-right: 10%; */

    /* padding-left: 10px; */
    /* padding: 10%; */
    /* background-color: aqua; */
}
.headerImg{
  
}
.image1{
  width: 60px;
  /* margin-right: 1115px; */
}

.menu{
    display: flex;
    margin-left: 5%;
    display: inline;
}

.menuBtn{
    display: none;
    height:40px
}

.menuItems{
    display: flex;
    margin-left: 30px;
}

.menuItems li{
    display: inline;
    display: flex;
    margin-left: 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: medium;
    
}

.menuItems li NavLink{
    text-decoration: none;
    
}

.cart{
    display: flex;
    margin-left: 50px;
}

.cartImg{
    height:40px
}

.btn{
    margin-left: 20px;
}

/* .line{
    padding-top: 80px;
    width:100%;
    border-bottom: 1px solid rgb(177, 170, 170);
    position:absolute;
} */
.active{
    color: brown;
}