.FtrContainer{
margin-top: 100px;
margin-left: 20px;
margin-right: 20px;
}

.FtrContainer h1{
align-items: center;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-bottom: 70px;
}

.ftrcard{
/* align-items: center;
justify-content: center;
text-align: center; */
/* background-color: aquamarine; */
}

.ftrbutton{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height:50px;
    width: 250px;
    border-radius: 10px;
    margin-left: 550px;
}

.ftrbutton:hover{
    background-color: darkgrey;
    cursor: pointer;
}