.pcContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px;
  max-width: 250px;
  gap: 10px;
  padding :30px;
  border-width: 1px;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}
.pctitle1{
    font-weight: 600;
    color: rgb(73, 71, 71);
}
 .pctitle2{
    font-weight: 500;
}  

.pcprice{
    font-weight: 600;
    display: inline;
}

.pcdescription{
    font-size: small;
    font-weight: 100;
    color: rgb(95, 90, 90);
}
.pcdetail{
    display: inline;
}

.pcbutton{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
   margin-left: 20px;
   width:150px;
   height: 40px;
   
}
.pcbutton:hover{
background-color: darksalmon;
}
.pctitle3{
    color: rgb(73, 71, 71);
}

.pcline2{
    color:  rgb(95, 90, 90);
}